.container-card {
  width: 200px;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  align-items: flex-end;
  margin: 5px;
}

.container-card h1 {
  font-size: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  text-align: center;
}