.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.9) 100%);
  min-height: 100vh;
}

.section-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 0 4%;
}