header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 144px;
  color: white;
  width: 86%;
  padding: 0 4%;
  margin-bottom: 32px;
}

.logo {
  width: 180px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }
}

@media (max-width: 540px) {
  .logo {
    margin-top: 30px;
  }
  header {
    flex-direction: column;
    height: auto;
    margin: 0;
    position: relative;
  }
}