header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 144px;
  color: white;
  padding: 0 30px;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin-left: 10px;
  cursor: pointer;
}

header ul li:hover {
  color: #FED530;
}