footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  color: white;
  margin-top: 8rem;
  width: 86%;
  padding: 0 4%;
}

footer img {
  width: 120px;
  cursor: pointer;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border-right: 1px solid gray;
  padding-right: 2rem;
  height: 80%;
}

.footer-right {
  width: 70%;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
  }
  .footer-left, .footer-right {
    border: none;
    width: 100%;
    padding: 0;
  }
  .footer-right {
    border-top: 1px solid grey;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }
}